.auth-container {
    max-width: 30rem;
    margin: 3rem auto 1.5rem;
}

.auth-title {
    padding: 1.5rem;
    text-align: center;
    color: var(--main);
    font-size: 1.5rem;
}

.auth-header {
    margin-bottom: 3rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
}