:root {
    --menu-w: 16rem;
    --menu-space: var(--menu-w);
}

main {
    margin: 7rem 3rem;
}

#menu {
    transition: all .2s ease-out;
}

#layout {
    margin-left: var(--menu-space);
}

#menu {
    --text-color: #fff;
    --border-color: hsl(0, 3%, 20%);
    --bg-main: #252525;
    height: 100%;
    max-height: 100vh;
    width: var(--menu-w);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: var(--bg-main);
    color: var(--text-color);
}

#menu .head {
    font-size: 1.07rem;
    font-weight: 500;
}

.menu-list {
    padding: 1rem;
}

.menu-title {
    padding: .6rem 0;
    margin: 0 1rem;
    display: block;
    font-size: .75rem;
    opacity: .7;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: .6rem 2rem;
    border-radius: .25rem;
    font-size: .875rem;
    text-decoration: none;
    color: var(--text-color);
}

.menu-item:hover {
    background-color: hsla(0, 0%, 50%, .1);
}

.menu-item.active {
    background-color: var(--main);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1rem;
    border-bottom: .1rem solid var(--text-grey);
    background-color: var(--bg-main);
}

header.top-bar {
    width: calc(100% - var(--menu-space));
    position: fixed;
    top: 0;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.avatar .name {
    margin-left: .75rem;
}