:root {
    --main: hsl(220, 70%, 44%);
    --blue: hsl(220, 70%, 44%);
    --green: hsl(130, 70%, 44%);
    --red: hsl(10, 70%, 44%);
    --yellow: hsl(50, 70%, 44%);

    --bg-base: #fbfbfb;
    --bg-main: #fff;
    --text-color: hsl(0, 5%, 10%);
    --text-grey: hsl(220, 5%, 50%);
    --border-color: hsl(0, 5%, 80%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: var(--bg-base);
    line-height: 1.5;
    font-family: sans-serif;
}

input:not(input[type="button"],
    input[type="submit"],
    input[type="reset"],
    input[type="checkbox"],
    input[type="radio"]),
select,
textarea {
    display: inline-block;
    width: 100%;
    padding: .5rem .75rem;
    outline: none;
    border: .1rem solid var(--border-color);
    border-radius: 0.25rem;
    font-size: .875rem;
}

input:not(input[type="button"],
    input[type="submit"],
    input[type="reset"],
    input[type="checkbox"],
    input[type="radio"]):focus,
select:focus,
textarea:focus {
    border-color: var(--main);
}

.card {
    border: .1rem solid var(--border-color);
    border-radius: .25rem;
    background-color: var(--bg-main);
    display: block;
}

.card-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid var(--border-color);
}

.card-title {
    margin-bottom: .5rem;
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
}

.card-body {
    padding: 1rem;
}

.card-img {
    width: 100%;
    border-radius: .25rem;
    object-fit: cover;
}

.btn {
    --bg-btn: #fff;
    display: inline-block;
    max-height: 100%;
    padding: .25rem .5rem;
    text-align: center;
    transition: .2s;
    border: .1rem solid var(--border-color);
    border-radius: .25rem;
    background: var(--bg-btn);
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

.btn:hover,
.btn:disabled {
    opacity: .6;
}

.btn-sm {
    padding: .05rem .25rem;
}

.btn-main {
    --border-color: var(--main);
    --bg-btn: var(--main);
    --text-color: #fff;
}

.btn-green {
    --border-color: var(--green);
    --bg-btn: var(--green);
    --text-color: #fff;
}

.btn-red {
    --border-color: var(--red);
    --bg-btn: var(--red);
    --text-color: #fff;
}

.btn-yellow {
    --border-color: var(--yellow);
    --bg-btn: var(--yellow);
    --text-color: #fff;
}

.btn-blue {
    --border-color: var(--blue);
    --bg-btn: var(--blue);
    --text-color: #fff;
}


.alert {
    --alert-bg: var(--bg-main);
    --alert-border: var(--border-color);
    --alert-color: var(--text-color);
    padding: 1rem;
    display: block;
    border: .1rem solid var(--alert-border);
    border-radius: .25rem;
    color: var(--alert-color);
    background-color: var(--alert-bg);
}

.alert-red {
    --alert-border: var(--red);
    --alert-color: hsl(10, 70%, 20%);
    --alert-bg: hsl(10, 70%, 90%);
}

.alert-green {
    --alert-border: var(--green);
    --alert-color: hsl(130, 70%, 20%);
    --alert-bg: hsl(130, 70%, 90%);
}

.alert-yellow {
    --alert-border: var(--yellow);
    --alert-color: hsl(50, 70%, 20%);
    --alert-bg: hsl(50, 70%, 90%);
}

table {
    border-spacing: 0;
    overflow-x: auto;
    text-align: left;
    width: 100%;
}

td,
th {
    border-bottom: 0.1rem solid var(--border-color);
    padding: .5rem 1rem;
}

.t-main {
    color: var(--main) !important;
}

.t-red {
    color: var(--red) !important;
}

.t-green {
    color: var(--green) !important;
}

.scroll {
    overflow-y: auto;
    max-height: 100%;
}

.circle {
    border-radius: 50%;
    object-fit: cover;
}
