:root {
    --mp-0: 0;
    --mp-1: 0.25rem;
    --mp-2: 0.5rem;
    --mp-3: 1rem;
    --mp-4: 1.5rem;
    --mp-5: 3rem;
    --mp-auto: auto;
    --gap: 1rem;
}

.mw-21r {
    max-width: 21rem !important;
}
.mw-55r {
    max-width: 55rem !important;
}

.mh-21r {
    max-height: 21rem !important;
}

.mh-55r {
    max-height: 55rem !important;
}

.d-flex {
    display: flex;
}

.i-center {
    align-items: center;
}

.f-space-between {
    justify-content: space-between !important;
}

.text-center {
    text-align: center;
}

.w-auto {
    width: auto !important;
}

.w-100 {
    width: 100% !important;
}

.wh-1_5r {
    width: 1.5rem !important;
    height: 1.5rem !important;
}

.w-14r {
    width: 14rem !important;
}

.h-14r {
    height: 14rem !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

[class*="col-"] {
    display: inline-block;
    max-width: 100%;
    width: 100%;
}

.col {
    flex: 0 0 auto;
    width: 100%;
    max-width: calc(100% / 12 * 2 - var(--gap));
}
.col-2 {
    flex-grow: 2;
    width: 100%;
    max-width: calc(100% / 12 * 2 - var(--gap));
}

.col-3 {
    flex-grow: 3;
    width: 100%;
    max-width: calc(100% / 12 * 3 - var(--gap));
}

.col-4 {
    flex-grow: 4;
    width: 100%;
    max-width: calc(100% / 12 * 4 - var(--gap));
}

.col-6 {
    flex-grow: 6;
    width: 100%;
    max-width: calc(100% / 12 * 6 - var(--gap));
}

.col-12 {
    flex-grow: 12;
    width: 100%;
    max-width: calc(100% / 12 * 12 - var(--gap));
}

.m-3 {
    margin-top: var(--mp-3) !important;
}

.mx-auto {
    margin-left: var(--mp-auto) !important;
    margin-right: var(--mp-auto) !important;
}

.my-3 {
    margin-top: var(--mp-3) !important;
    margin-bottom: var(--mp-3) !important;
}

.mt-2 {
    margin-top: var(--mp-2) !important;
}

.mt-3 {
    margin-top: var(--mp-3) !important;
}

.mt-4 {
    margin-top: var(--mp-4) !important;
}

.mt-5 {
    margin-top: var(--mp-5) !important;
}

.mb-3 {
    margin-bottom: var(--mp-3) !important;
}

.mb-5 {
    margin-bottom: var(--mp-5) !important;
}

.ml-2 {
    margin-left: var(--mp-2) !important;
}

.ml-3 {
    margin-left: var(--mp-3) !important;
}

.mr-2 {
    margin-right: var(--mp-2) !important;
}

.mr-3 {
    margin-right: var(--mp-3) !important;
}

.mr-4 {
    margin-right: var(--mp-4) !important;
}

.mr-5 {
    margin-right: var(--mp-5) !important;
}

.p-5 {
    padding: var(--mp-5) !important;
}